<h1>Simple Blog</h1>
<div class="row">
  <div class="span4 offset7">
        <%= link_to "Title", root_path(:order_by => "title") %>  |
        <%= link_to 'Newest', root_path(:order_by => "published")%>  |
        <%= link_to 'Word Count', root_path(:order_by => "word_count")%> |
        <%= link_to '1 Article', root_path(:limit => 1) %>
        <%= link_to '3 Article', root_path(:limit => 3) %>

      <%# form_for @articles do |f|  %>
        <%# f.select(:limit, options_for_select([@articles.length,1,3])) %>
      <%# end %>

    <span class="pull-right">
      <%= link_to 'New Article', new_article_path, class: 'btn' %>
    </span>
  </div>
</div>
<hr>