<h1>Simple Blog</h1>
<div class="row">
  <%= form_tag :controller => 'articles', :action => 'index' do %>
    <p>
      Title <%= check_box_tag :order_by, params[:order_by] = 'title'%>
      Word Count <%= check_box_tag :order_by, params[:order_by] = 'word_count' %>
      Newest <%= check_box_tag :order_by, params[:order_by] = 'published' %>
    </p>
    Limit <%= text_field_tag :limit, params[:limit], class: "input-small search-query" %>
    <%= submit_tag "Filter" %>
  <% end %>
  <div class="span4 offset7">



    <span class="pull-right">
      <%= link_to 'New Article', new_article_path, class: 'btn' %>
    </span>
  </div>
</div>
<hr>